<!DOCTYPE html>
<html>
<head>
    <title>Color Selector</title>
    <link rel="stylesheet" type="text/css" href="colorGame.css">
</head>
<body>

<div id="Title">
<h3>The Great</h3>
<h1 id="rgb">RGb(0, 0, 0)</h1>
<h3>Color Game</h3>
</div>

<div id="Tbar">
<button id="Reset">New Colors</button>
<span id="result"></span>
<button class="difficulty">Easy</button>
<button class="difficulty" class="selected">Hard</button>
</div>
<div id="container">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
</div>


<script type="text/javascript" src="colorGame.js"></script>
</body>
</html>